* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightpink;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: black;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#container1 {
  background-color: black;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
button {
  padding: 20px;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  border: 1px solid black;
  color: black;
}


.tile {
  height: 200px;
  width: 200px;
  background-color: aliceblue;
}
